[2019-10-30 18:16] doomsower opened #1 "Getting error after upgrading to 1.0.4"
Code sample:
[code]

After upgrade to 1.0.4 I'm getting this error when rendering `LazyRegionTabs`:

[code]

[2019-10-30 20:17] kirillzyusko commented on #1
@doomsower Thank you for the reported issue. Could you provide a little bit more details about this error?
Would be nice to know how component `LazyRegionTabs` looks or at least which statement are used for exporting component from this file.
BTW This library used on several projects, and migration from `1.0.3` to `1.0.4` didn't affect on these projects - they work as well as previously. And I don

[2019-10-30 21:41] doomsower commented on #1
I don't think the problem is with any particular code, more likely it's with bundling and execution of my app.

I compared dist of `react-native-bundle-splitter` versions 1.0.3 and 1.0.4.
There're very few differences. So this is how 1.0.4 is compiled now:
[code]

If I rename scoped `require` variable like it's compiled in 1.0.3, it works:

[code]

[2019-10-30 21:45] kirillzyusko commented on #1
@doomsower Thank you for the help! 👍
I will fix it and publish new version as soon as possible

[2019-10-30 22:14] kirillzyusko commented on #1
@doomsower Can you install `1.0.5` and see if this error exists?
I fixed it, but I would be very happy to hear that someone else can confirm this 😄

[2019-10-31 07:53] doomsower commented on #1
Yes, it works now. Thank you!

[2019-10-31 07:53] #1 closed

[2020-01-08 13:34] pontusab opened #2 "Workspaces"
Thanks for a great lib!

We have one small issue with this running in yarn workspaces, if it's loaded from the root node_modules (without nohoist) the library outputs the error "require is not a function".

Moving the lib to the subfolder ie nohoist it works as expected.

[2020-01-08 21:31] pontusab commented on #2
After investigation running with no hoist the app crashes in production build but works in dev mode

[2020-01-08 22:20] kirillzyusko commented on #2
Hi, @pontusab
Thank you for the issue :)
Could you please create a small project/reproducable demo?
And also, please, say, which version of the library do you use?
In fact I fixed similar error in 1.0.5

[2020-01-13 10:37] Louies89 opened #3 "Example for How to Use"
Hi @kirillzyusko,
Thank you for the library.

I am unable to understand how to use the library.

Can you give a example in the documentation or some example code for different use cases and techniques.

[2020-01-13 12:09] kirillzyusko commented on #3
Hi @Louies89
You can look at https://kirillzyusko.github.io/react-native-bundle-splitter
It's step by step instructions for integration this library into your project
Also you can look at: https://github.com/kirillzyusko/react-native-bundle-splitter-example - it's a basic example how you can use the library
But I'd recommend you look at the documentation (first link)
If you have any questions, ple

[2020-01-13 20:16] ClenetTech commented on #3
Hi @kirillzyusko,
Thank you for your reply. Actually later I found the link by searching google.

Actualy the Documentation Link in README.md is not correct, that is why I was unable to navigate from there and put this issue.

Please correct the link in README.md, so that others will not get the same trouble.

Thank You

[2020-01-14 06:35] kirillzyusko commented on #3
Oooops
Definetly you are right - link to documentation is wrong. Earlier I did a migration and totally forgot to change the documentation URL in README file.
Thank you for pointing it :)
I updated README file with correct links and pushed new version to npm

[2020-01-14 06:35] #3 closed

[2020-01-21 16:56] pontusab commented on #2
Hey man! I use the latest version of this library, I will create a repo for you!

[2020-01-22 03:38] kirillzyusko commented on #2
@pontusab Amazing! Thank you😎

[2020-05-06 08:44] vidsag opened #4 "Dynamic setting of navigationOptions."
Hi,
I am trying to set the `navigationOptions` for the screen.
The current implementation is,
`    static navigationOptions = ({ navigation }) => {
        const params = navigation.state.params || {};
        let title = params.title ? params.title : "";
         return {
          title: title,
          headerLeft: (
            <HeaderIcon
              onPress={params.goBack}
              ic

[2020-05-06 09:13] kirillzyusko commented on #4
Hey, @vidsag
It should work:
[code]
Please, let me know, whether this works or not :)

[2020-05-06 10:17] vidsag commented on #4
This works. Thanks!

[2020-05-06 10:35] #4 closed

[2020-06-08 05:31] Eyesonly88 opened #5 "Does this library work with react-native 0.62 and react-navigation 5 ?"

[2020-06-08 07:08] kirillzyusko commented on #5
Hi @Eyesonly88

Yes, it works with react-navigation 5.
In case of usage this library basic principles are the same, you should wrap your screen with `register` in HOC and pass then wrapped component as screen:

[code]

Or with wrapping on index file level:

[code]

Regarding RN 0.62 - on this version everything works fine. I haven't tested yet, because on my project we are going to migrate on 0.63

[2020-06-08 20:23] Eyesonly88 commented on #5
Awesome, thank you for the quick response. I'll give this a go and report the results here.

[2020-06-08 20:34] kirillzyusko commented on #5
@Eyesonly88 deal👍

[2020-06-11 03:08] Eyesonly88 commented on #5
Ok so it works with RN 62.2 and react navigation 5.5.0. However, I’m getting some weird results and I’m not sure if my benchmarking is correct or if the RN upgrade from 59 to 62 made the app slower or what.

Here’s the gist of it:

My production app on play store uses RN 59.0 and first signup screen loads in 2-3 seconds.

After upgrading to RN 62 without applying this library, average load for sig

[2020-06-11 06:22] kirillzyusko commented on #5
Hm, it's really interesting. I have some ideas on which you could look at.

But first of all, if you want to continue discuss this topic I would suggest you to close this issue (since we clarified, this library works in combination with `RN 0.62` and `react-navigation 5`😄 ). In this case other people, who will have similar issue can easily find their problem in issues.

According to your problem.

[2020-06-11 22:29] Eyesonly88 commented on #5
Yes good point, i'll close this issue and make a new one. Thank you for the tips.
Funny enough, during the upgrade, I actually removed a lot of unused code, dependencies and assets. So I was expecting the app to go down in loading startup to like 1 second or so (that was my hope). Anyway, I'll create a separate ticket with more details.

[2020-06-11 22:29] #5 closed

[2020-09-09 07:21] pier-verdu opened #7 "Error - "Excessive number of pending callbacks""
With:

- "react-native": "^0.63.2",
- "react-native-bundle-splitter": "^1.0.9",

Using like:

[code]

The app freeze during the navigation (after 4 screens) and I have:

[2020-09-09 07:54] kirillzyusko commented on #7
Hi @Pierre-CLIND
Maybe you missed a slash in `require: () => require('.Logout'),` ?
Shouldn't it be `require: () => require('./Logout'),` ?

[2020-09-09 08:05] Pierre-CLIND commented on #7
Hi @kirillzyusko, no :/

I just rename the file name for the example,

[2020-09-09 08:08] kirillzyusko commented on #7
@Pierre-CLIND Could you create small reproducible demo?
I don't see any issues in the code above. If I can look on entire project, maybe I can help to detect an issue.

[2020-09-29 09:08] cw-sanjeev opened #8 "How to use register with connect function"
Hi,
I am trying to use this library, however i am stuck on how to use register function with connect.
`export default connect(mapStateToProps)(RandomDetail);
export default register({
  require: () => require('./RandomDetail'),
  static: {
      navigationOptions: ({ navigation }) => {
          // all code from your component
          return {
            header: null,
            initialRouteNa

[2020-09-29 09:19] kirillzyusko commented on #8
Hey @cw-sanjeev
The main idea behind this library is that you should put your `register` function into separate file.
Let's imagine you have one file called `View`, and inside of this file you have:

[code]

Then you can create a new file and call it `index` and put your code:

[code]

And that's all. If you need to refer to original file you can refer to `View` file. If you need to use functional

[2020-09-30 22:23] cw-sanjeev commented on #8
yes this helps a lot, thanks!

[2020-09-30 22:23] #8 closed

[2020-10-21 02:14] nidheeshdas opened #9 "This is a must-have"
**Is your feature request related to a problem? Please describe.**
No.  This project looks like a must-have for every RN app. But then why is this not so popular.

**Describe the solution you'd like**
Are there any articles on WHY this must be used, HOW much improvement in performance, WHAT are the gotchas if present?

**Describe alternatives you've considered**
I must implement and test this on m

[2020-10-21 07:19] kirillzyusko commented on #9
Hi @nidheeshdas
Thank you for issue.
I think I wrote quite detailed [documentation](https://kirillzyusko.github.io/react-native-bundle-splitter/) for this library.

This documentation contains step by step guide how to set up this library in any project. Also it has few tutorials such as "how to find the biggest dependency"/"how to measure startup time".

If you think I missed something important

[2020-10-21 07:25] kirillzyusko commented on #7
@Pierre-CLIND hi!
Did you find a solution?
Also, could you please be sure, that `ROOT_FOLDER` in `metro.config.js` really refers to your root of the project?

[2020-10-22 06:41] Pierre-CLIND commented on #7
Not really, sorry :/ I use Hermes now

[2020-11-11 06:59] kuasha420 commented on #9
How do experimentalImportSupport and inlineRequires relate to this project?

[2020-11-11 08:07] kirillzyusko commented on #9
@kuasha420 this library is built on top of `inlineRequires` and `ram bundles`. Via `register` HOC you can easily move all screens/components to RAM bundle and load them on demand. (Couldn't find any info about `experimentalportSupport`. I would be highly appreciate you if you can give me a link where I can read about it).
Did I answer on your question?

[2020-11-11 12:04] kuasha420 commented on #9
@kirillzyusko Thanks for the quick answer! experimentalportSupport has no documentation actually. But was added at the same time as inlinerequire. Not sure what it does.

By the way, is it a good idea to try this on a react-native-web app or try spitting in webpack way?

Cheers!

[2020-11-11 12:37] kirillzyusko commented on #9
@kuasha420 Unfortunately I don't know a lot of details about `react-native-web`. If you are saying, that `webpack` is used in `react-native-web` under hood, then I highly doubt that you can use this library out-of-box.

I know you can use [react-loadable](https://github.com/jamiebuilds/react-loadable) for splitting bundle on web projects. And I think you can use this library with `react-native-web

[2020-11-12 07:56] kuasha420 commented on #9
Thanks for the detailed answer. I'll investigate the matter and try to come up with something in the coming days. Cheers

[2020-11-15 06:56] heysailor commented on #9
@kuasha420 if you're interested in bundle splitting on web, it would be a great idea to [consider Next.js](
Next.js by Vercel - The React Frameworknextjs.org) which splits code out of the box.

You can easily make a mobile and web app with [expo, combined with next.js](https://docs.expo.io/guides/using-nextjs/). I have RAM bundles enabled for the mobile apps, and Next does its bundle splitting on

[2020-11-15 07:30] kuasha420 commented on #9
@heysailor That's a good idea for a new project. I'm trying to do it in an existing codebase. I've done some experimenting with loadable-component and it's working pretty well. Just need to adopt the idea with this project for a potential PR. Problem is require vs dynamic import

[2020-11-15 08:08] kirillzyusko commented on #9
@kuasha420 if you want to add dynamic import support to react-native app you can use [babel plugin](https://babeljs.io/docs/en/babel-plugin-syntax-dynamic-import). But I'm not sure that files imported via `dynamic import construction` will be moved into RAM bundle. It needs to be checked.

Also, feel free to create a new issue. Because the stuff that we discuss here is not related to the title of

[2020-11-16 15:41] kirillzyusko opened #10 "Web support?"
## Is your feature request related to a problem? Please describe.

That would be really nice to add the ability to use this library with `react-native-web`.

## Describe the solution you'd like

The same API for both web/mobile projects within one library. Recently `Suspense` API was released. And according to official docs the proposed way for bundle splitting on web is the usage `Suspense` + `Re

[2020-11-16 15:43] kirillzyusko commented on #9
@kuasha420 and @heysailor I created new issue: https://github.com/kirillzyusko/react-native-bundle-splitter/issues/10

And I will close this one. Feel free to share new info there.

[2020-11-16 15:43] #9 closed

[2020-11-24 06:00] vidsag opened #11 "Maximum depth reached with react navigation 5"
**Describe the bug**
Getting maximum depth reached when using with react navigation 5

**Code snippet**
[code]

Is there something that I am doing wrong?

[2020-11-24 08:36] kirillzyusko commented on #11
@vidsag everything is correct (in code snippet). As far as I remember I had such error when variable `ROOT_FOLDER` in `metro.config.js` didn't reflect real path. Could you try to change it and see whether it helps you? Instead of `const ROOT_FOLDER = resolve(__dirname, '..');` it can be for example `const ROOT_FOLDER = resolve(__dirname, '');` (you need to restart metro bundler after changing the

[2020-11-24 09:45] vidsag commented on #11
This worked for me.

[code]
Not sure why inlining it is causing the issue.

[2020-11-24 12:15] kirillzyusko commented on #11
@vidsag Hm, it's interesting🤔
I think that `require` may miss a context, if you use it as inline variant.
In any case I highly appreciate you! Thank you for your help!😎
Can I close this issue?

[2020-11-24 12:39] vidsag commented on #11
Yeah, I will close it. Thanks for your input. Appreciate your work on this awesome library.

[2020-11-24 12:39] #11 closed

[2020-12-07 11:27] radhakrishnant2s opened #12 "Screen goes blank in react native app with react-navigation library"
**Describe the bug**
The screen goes blank in react native app with react-navigation library

**Code snippet**
[code]

Contents of Details screen:
import { Button, Text, View } from 'react-native';
import React from 'react';

[code]

**Repo for reproducing**
https://snack.expo.io/?platform=android&name=Hello%20React%20Navigation%20%7C%20React%20Navigation&dependencies=%40expo%2Fvector-icons%40*%2C

[2020-12-07 13:39] kirillzyusko commented on #12
Hello @radhakrishnant2s

Thank you for providing a repo!
But as I can see - the code in snack is a little bit different than you attached above (in snack all code is placed in `App.js`, but in your code you use `export` keyword and I assume this snippet should be in separate file). Am I right?

[2020-12-10 16:32] kirillzyusko commented on #12
@radhakrishnant2s I created an example on snack: https://snack.expo.io/frQvTTGIP
Everything works fine.

I think the problem was in this line:

`export  function DetailsScreen({ navigation }) {`

It should be:

`export default function DetailsScreen({ navigation }) {`

or if you don't like the usage of `default export` - you can pass an extractor to `register` function

`component={register({ requ

[2020-12-22 02:47] zhuangxuan commented on #12
good questions

[2020-12-22 03:00] zhuangxuan opened #13 "how to pack ram bundle"
I have integrate this lib into my project, but I can not find pack ram bundle command.

when i use plain bundle, I use this command 'npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output ./android/index.android.bundle --assets-dest ./android'.  when I use this lib with ram bundle ,which command should i use.  thank you very much

[2020-12-22 11:25] kirillzyusko commented on #13
Hi @zhuangxuan
You should use `npx react-native ram-bundle` command. You can read more [here](https://github.com/react-native-community/cli/blob/master/docs/commands.md#ram-bundle).

Let me know, whether I answered on your question or not :)

[2020-12-22 11:28] kirillzyusko commented on #12
I will close this issue, since I answered on the question and provided working example.

Feel free to create new ones, if you experience any problems.

[2020-12-22 11:28] #12 closed

[2020-12-22 14:55] zhuangxuan commented on #13
very thanks, that is what I want.
I have another question ,Could you help me?
I try to avoid phone start white screen, What can I do for app.
Could you give me a advise ？

[2020-12-22 15:01] kirillzyusko commented on #13
@zhuangxuan you can not avoid it. It's special initialization stage. And all applications have such stage. It's called Splash Screen.
You can modify it as you wish (put on this screen logo/text). For doing this you may use react-native-splash-screen, react-native-bootsplash libraries.
But you can not avoid it.

[2020-12-23 02:04] zhuangxuan commented on #13
@kirillzyusko  very thanks,  your advise is good.  I will try to reduce white screen time.  Have a good time.

[2020-12-23 08:32] kirillzyusko commented on #13
@zhuangxuan you too. Feel free to create new issues. I will close this one.

[2020-12-23 08:32] #13 closed

[2021-01-28 12:37] matt-dalton opened #14 "Build step to generate initial modules"
**Is your feature request related to a problem? Please describe.**
I love the library, and think every RN app should make use of it. However one practical constraint is how to populate the packager modules here: https://kirillzyusko.github.io/react-native-bundle-splitter/docs/metro

Perhaps there are solutions to this, but it's not clear how my team should approach keeping these up-to-date. Do we

[2021-01-28 14:50] kirillzyusko commented on #14
Hi @matt-dalton
Thanks for interesting and detailed question!

Unfortunately right now there is only one way, how to grab this info - manually from console output. We are using `react-native-debugger` and there is possibility to copy output of `investigate` via one button `Copy`.

![image](https://user-images.githubusercontent.com/22820318/106153477-a61bf600-618f-11eb-95ff-d487d3370630.png)

On ou

[2021-01-28 19:21] matt-dalton commented on #14
That's a good point!

I thought something similar. I'd imagine native modules etc might crash this though? But could be wrong.

[2021-01-28 19:28] kirillzyusko commented on #14
@matt-dalton Could you elaborate more? I don't think it may affect, but maybe I'm missing something important 🙂

[2021-01-28 19:29] matt-dalton commented on #14
I'd just imagine that if you try and run your app using a node server without a proper mobile native build environment, something would crash?

[2021-02-22 12:47] MaxToyberman opened #15 "lazy load nested stack navigator"
**Describe the bug**
In my app i have multiple stack navigators, when i try to use register on the stack it doesnt work, but when i do it on screens separately it works.

**Code snippet**
[code]
changing it to (doesn't work):

[code]
i preload the component and then navigate, i have no errors but i dont have navigation.

Thank you for your help !

[2021-02-22 14:03] kirillzyusko commented on #15
@MaxToyberman do you use react-navigation 4?

[2021-02-22 14:10] MaxToyberman commented on #15
Hi @kirillzyusko  yes.

[2021-02-22 14:11] MaxToyberman commented on #15
FTUEStack is a stack navigator.
i tried to debug it and i saw that OptimizedComponent render is not called.
when i use register inside the stacknavigator is works

[2021-02-22 14:24] kirillzyusko commented on #15
@MaxToyberman I'm afraid, that `createStackNavigator` may not return React component (but I may be wrong). Anyway, I have two suggestions, that you may try:

**Option 1: ** try to use register outside of switch navigator. Code should look like that:

[code]

**Option 2: ** specify `group` for all screens that are nested in one navigator. In this case all navigators will be loaded at first run of a

[2021-02-22 14:57] MaxToyberman commented on #15
@kirillzyusko  thank you for your response.
createStackNavigator returns a navigator, not a react component.

Option 1: doesn't work.

have no choice will use option 2.

Thanks!

[2021-02-22 16:02] kirillzyusko commented on #15
@MaxToyberman then it's strange, why it doesn't work and doesn't show any errors 🤔

[2021-02-22 16:11] MaxToyberman commented on #15
@kirillzyusko FTUEStack is OptimizedComponent

![image](https://user-images.githubusercontent.com/11058371/108735560-61d70800-7539-11eb-8e86-581f5f3c89d4.png)

[2021-02-22 19:40] kirillzyusko commented on #15
@MaxToyberman would you mind to create a small reproducible demo?

In this case I can have a look on that and understand what happens.

Originally, this library was created for lazy loading only of screens (and not orchestrators of screens such as like Stack/Drawer/Bottom-navigator). This modular approach allowed this library to be used in combination with various navigation libraries.

But I stil

[2021-02-25 05:46] MaxToyberman commented on #15
Hi @kirillzyusko

created a new sample app, this time i have an error "no routes in navigation state".
i agree that it is made for screens, but loading a whole stack can save a lot of time.

here is a link.

https://github.com/MaxToyberman/bundleSplitterExample

[2021-02-25 07:27] kirillzyusko commented on #15
@MaxToyberman thanks, I will have a look on that!

[2021-02-25 20:13] kirillzyusko commented on #15
Hello @MaxToyberman

Thanks for the issue that you raised (and especial thanks to sample repo)

Unfortunately, you can not do lazy loading for entire stacks in react-navigation v4. It's a limitation of a library itself. This library needs to know all possible routes in advance in order to understand, which component should be shown. When you do a lazy loading - you cut off part of routes. And even

[2021-02-27 07:45] MaxToyberman commented on #15
Thanks @kirillzyusko for the explanation !
I think moving to react navigation 5 will be a good option although we have a big project.

[2021-02-27 07:45] #15 closed

[2021-03-01 06:38] seenyea opened #16 "can add a es6 version?"
**Is your feature request related to a problem? Please describe.**
Es5 is a long time ago story, now, there lot of project output like a es6 version, can we?

[2021-03-01 07:10] kirillzyusko commented on #16
Hi @seenyea

You mean output in `tsconfig.json`?

I've added it because I wanted to support as much as possible JS engines. However this library has a limitation (it requires at least RN == 0.59, and starting from this version RN has support for latest JSC for Android). So maybe it's really worth to switch to ES6.

Do you think it will be breaking change?

[2021-03-01 12:11] seenyea commented on #16
I think we need more example actually:
1. support for es5, es6;
2. naviagtion v3 to v5 demo, especially for gounp way.

everybody, like usage, not really what is it.
can we?

[2021-03-01 12:13] seenyea commented on #16
Sometimes, project code is based on es6, but your code is es5, static props will not work well

[2021-03-01 13:42] seenyea opened #17 "Memory Leak Detect Tools"
**Is your feature request related to a problem? Please describe.**
when I rewrite my page following the step by the document, but two main problem cause:
1. navigation.goBack() dose not cool
2. the static props does not cool

but let it my pc alone a while, what a amazing! Everything goes cool

**Describe the solution you'd like**
Supply a Memory Leak Detect Tool

[2021-03-01 15:39] kirillzyusko commented on #17
Hi @seenyea

Could you please provide more details?

1. In which cases `navigation.goBack()` doesn't work? Could you create small reproducible demo?
2. What you mean by static props? static navigation options? You can not continue use them. Please, read docs how this support is implemented in this library: https://kirillzyusko.github.io/react-native-bundle-splitter/docs/static-options

What you me

[2021-03-01 15:43] kirillzyusko commented on #16
@seenyea the output code of library es5, that's right. But it should work in es6 and more modern syntax. Static props will not work because of the design of a library itself (you need to do a lazy loading of component, so you can not get an instant access to static members - that's why I've added `static` prop into `register` function). It's not a problem of es5.

[2021-03-02 11:55] seenyea commented on #17
Problem 1 and problem 2 occur randomly(about 1times per 10 times) in react native navigation v3.
React native navigation v3 support static props [https://reactnavigation.org/docs/3.x/headers](https://reactnavigation.org/docs/3.x/headers)
here are some code snap

[2021-03-02 12:08] kirillzyusko commented on #17
@seenyea I know, that it supports. And I'm using this fact in my library.

The reason why I moved static fields outside of component was quite simple. In this options you can specify some important things, such as style for header, title and so on, right? If you will do a lazy loading of these props - during transition between screens you will see default header and after some time (when component

[2021-03-03 04:00] seenyea opened #18 "Can add a registerComponent method?"
物流页面need test

**Is your feature request related to a problem? Please describe.**
can override register api: the complie method
[code]

my override
[code]

[2021-03-03 05:27] seenyea opened #19 "can add a registerComponent"
物流页面need test

**Is your feature request related to a problem? Please describe.**
can override register api: the complie method
[code]

my override
[code]

[2021-03-03 08:28] kirillzyusko commented on #19
@seenyea I'll close it, since it's duplication of https://github.com/kirillzyusko/react-native-bundle-splitter/issues/18

[2021-03-03 08:28] #19 closed

[2021-03-03 08:32] kirillzyusko commented on #18
@seenyea I can, but what is the motivation behind it?

Optimized component already do `isCached(name)` checks. And if component was found in cache, it will mount it in sync way.

If you need to have multiple references to this component, then you can simply create `index.js` file and put register function there. And import this file everywhere you want. Once first usage will be loaded all others w

[2021-03-04 03:10] seenyea commented on #18
can I add it myslef?

[2021-03-04 03:15] seenyea opened #20 "can supply a register by 'group' way example"
**Is your feature request related to a problem? Please describe.**
supply a register by 'group' way example

[2021-03-04 08:29] seenyea opened #21 "can add a tab navigation example"
**Is your feature request related to a problem? Please describe.**
can add a tab navigation example

[2021-03-04 08:40] kirillzyusko commented on #20
@seenyea I think I already wrote about [it](https://kirillzyusko.github.io/react-native-bundle-splitter/docs/async-loading#group-of-screens), isn't?

[2021-03-04 08:42] kirillzyusko commented on #21
@seenyea what you mean by tabs? There are variety of ways how it can be implemented using various libraries, such as: `react-native-tab-view`, `@react-navigation/bottom-tabs` and so on. What exactly you want?

[2021-03-04 08:50] kirillzyusko commented on #18
@seenyea yes, you can. You can simply import necessary functions into your code and re-create this function in your codebase. But why? The code above doesn't make any sense and I don't see any reasons to use it. `OptimizedComponent` already use `if(isCached(name))` checks. And if component found in cache it will immediately render it.

If you need to have multiple usage of one component, then you

[2021-03-04 08:55] seenyea commented on #21
I mean, a demo of using tabs with react-native-bundle-splitter

[2021-03-04 08:56] seenyea commented on #20
I think a working example, not a doc example

[2021-03-04 09:01] kirillzyusko commented on #20
@seenyea ah, yes. It's on my roadmap in v2. I'm writing snacks, so you can try it straight in browser :)

[2021-03-04 09:03] kirillzyusko commented on #21
@seenyea should it be with `@react-navigation/bottom-tabs`?

In fact I'm writing right now a lot of snacks/demos, just thinking which of them I should include in final docs.

[2021-03-04 09:05] seenyea commented on #18
for react native v3 I crate a TopTabNavigator
lib.js
[code]
view.js
[code]
index.js
[code]

[2021-03-04 09:08] seenyea commented on #18
for react native v3 I crate a TopTabNavigator
lib.js

 function createTopTabNavigator(
    routeConfigMap: NavigationRouteConfigMap,
    drawConfig?: DUTabNavigatorConfig
)
view.js

const routeConfigMap = {...};
const drawConfig = {...}
const tab = createTopTabNavigator(routeConfigMap, drawConfig);
class Page extends React.Component{
         static router = tab.router
         render(){

[2021-03-04 09:08] seenyea commented on #18
can you give me some advices?

[2021-03-04 09:10] seenyea commented on #18
I try this way:
[code]

but the error still look at me, can you give some advice?

[2021-03-04 10:26] kirillzyusko commented on #18
@seenyea

[code]

But that's strange, that your components are aware about navigators where this component used.

That's wrong, because `isCached` may return `false` several times, and you will attempt to register component several times (and you will see error -it's expected behavior).

For me it seems, that you use API in wrong way. You should call `register` only one time for one component. Thi

[2021-03-04 13:07] seenyea commented on #18
sorry about it,
```createTopTabNavigator```  is the same as ```createMaterialTopTabNavigator```
you can find document here [https://reactnavigation.org/docs/3.x/material-top-tab-navigator](https://reactnavigation.org/docs/3.x/material-top-tab-navigator)

[2021-03-04 13:10] seenyea commented on #18
I think ```preload().component``` is an async way, can get a sync way?

[2021-03-04 13:20] seenyea commented on #17
I think the final ```OptimizedComponent```  need set static properties at first, or it may cause ```state no routes``` error, especially for tabs.

[2021-03-04 15:34] kirillzyusko commented on #18
It's I/O operation. It should be `async`.

Are you trying to make lazy tab bars? I mean you are trying to make entire container lazy, not separate screens, right?

The most confusing part of app for me is:

[code]

I used many times tab navigators in different versions and I haven't extracted any properties from that like you do.
Can you explain why you do it? You can simply attach a link, where I

[2021-03-04 15:59] kirillzyusko commented on #17
@seenyea it sets static props: https://github.com/kirillzyusko/react-native-bundle-splitter/blob/master/src/optimized.tsx#L54

If you pass `static` into `register` function - everything should be okay.

[2021-03-05 02:16] seenyea commented on #18
Are you trying to make lazy tab bars? I mean you are trying to make entire container lazy, not separate screens, right?
yes

[2021-03-05 08:43] kirillzyusko commented on #18
Hi @seenyea

You can not make entire tab bar lazy in react-navigation v3. I gave detailed answer on that in [this](https://github.com/kirillzyusko/react-native-bundle-splitter/issues/15#issuecomment-786171717) comment. Unfortunately it's a restriction of react-navigation <= v4.

I would recommend you to wrap separate screens into `register` (which are used in `TabBar`). In this case everything wil

[2021-03-05 08:57] seenyea commented on #18
Actually，we can.
common.tab.js
[code]

HomeTab.js
[code]
Home.js
[code]
HomeTab.js
[code]

[2021-03-05 09:20] kirillzyusko commented on #18
@seenyea why `HomeView` needs to know anything about `router`?

[2021-03-05 09:55] seenyea commented on #18
why HomeView needs to know anything about router?
I'm not sure ```router``` is needed for ```HomeView```.
It is generated by `createMaterialTopTabNavigator`, so I do not ignore it.
But I can try this way:

[code]

[2021-03-09 09:11] kirillzyusko commented on #18
@seenyea no, I don't have any ideas why it's needed. And also I can not find any information about it in documentation. If you remove it - will app work without it?

[2021-03-15 19:53] kirillzyusko commented on #16
Closing this issue as we clarified it's not an ES issue.

[2021-03-15 19:53] #16 closed

[2021-03-15 19:54] kirillzyusko commented on #17
Closing this issue as no proof provided about memory leaks.

[2021-03-15 19:54] #17 closed

[2021-03-20 13:46] kirillzyusko opened #23 "Add more code examples"
**Is your feature request related to a problem? Please describe.**

It's not a real problem of library itself. I would say it's more about documentation. Sometimes it's better to see real example, than reading a thousands line of text, so, please, add more real code examples.

**Describe the solution you'd like**

I would like to see next examples:
- usage of preload API (component, group);
- usag

[2021-03-20 13:47] kirillzyusko commented on #21
Closed due to https://github.com/kirillzyusko/react-native-bundle-splitter/issues/23

[2021-03-20 13:47] #21 closed

[2021-03-20 13:47] kirillzyusko commented on #20
Closed due to https://github.com/kirillzyusko/react-native-bundle-splitter/issues/23

[2021-03-20 13:47] #20 closed

[2021-03-31 08:33] sandeshnaroju opened #24 "Support for RN 0.64.0 (inline requires enabled by default)"
Thanks for the library. Recently RN 0.64.0 has inline requires enabled by default. so is this supported with 0.64.0?

[2021-03-31 09:26] kirillzyusko commented on #24
Hi @sandeshnaroju

Yes, previously **inline requires** was experimental feature (but it was used widely in many projects, including Facebook app).

Now it's enabled by default. You still can use this library with 0.64. There is no any breaking changes for that :)

Did I answer on your question?

[2021-04-13 08:11] alessioemireni opened #25 "Navigation - React Navigation 'focus' listener is not triggered the first time"
**Describe the bug**
If I wrap the screen with `register()` method the React Navigation 5 'focus' listener is not triggered the first time. This happens also with React Component or PureComponent not just with Functional Component.

**Code snippet**
[code]

**Repo for reproducing**
Here you can find an example repository --> https://github.com/alessioemireni/react-native-bundle-splitter-example. I

[2021-04-13 08:31] kirillzyusko commented on #25
Hi @alessioemireni
Thanks for the detailed issue!
I will have a look on that.

[2021-04-13 09:34] kirillzyusko commented on #25
Hi @alessioemireni
I did some research around a problem and here is my results of the investigation.

First of all I think it's expected behavior. Let me explain why.
The basic idea behind this library is deferred components loading. And this loading is made in async style. What happens, when you wrap your screen within a `register` function? This function is simple HOC component, that represent s

[2021-04-13 09:35] #24 closed

[2021-04-13 10:05] alessioemireni commented on #25
@kirillzyusko thanks for your detailed explanation. I will check your patch and replace the register method with preload in my main project.

Why the behaviour is different with React Navigation 4? The focus was triggered the first time.

Another question. Why does the `useFocusEffect` react navigation hook work instead? The code snippet is commented in the repository example.
[code]

[2021-04-13 10:25] kirillzyusko commented on #25
@alessioemireni it's hard to answer. A lot of things were changed in 5.x comparison to 4.x...

Also it's hard to answer, why one thing works and other not. Need to debug and dive into react-navigation implementation in order to answer on this question 🙂

[2021-04-16 12:08] alessioemireni commented on #25
We decided to use an Hoc with useFocusEffect react navigation Hook due to the fact that that all Screens in main project use focus Listener. I'll close the issue.

[2021-04-16 12:08] #25 closed

[2021-04-20 09:39] alessioemireni opened #26 "feat - ForwardRef in OptimizedComponent"
**Is your feature request related to a problem? Please describe.**
When a Child Component is wrapped with `register` method, the parent component can't invoke its method with ref and the app crashes.

**Describe the solution you'd like**
In OptimizedComponent is possible to use the [ForwardRef React API](https://reactjs.org/docs/forwarding-refs.html).

I've forked your library and commited the rig

[2021-04-20 09:44] kirillzyusko commented on #26
Hi @alessioemireni

Yes, please, open a PR.

Also, that would be nice to provide some code examples, when this bug (crash) appears.

And also, if it's possible, please, don't use `any` type in your PR :)

Once it will be done, I will be glad to merge it and publish a new version!

[2021-04-20 15:43] alessioemireni commented on #26
Hi @kirillzyusko.

Here you can find a demo with the reproducible issue --> https://github.com/alessioemireni/react-native-bundle-splitter-example/tree/mobile/forward-ref-crash

1. Open the app
2. Click on Details
3. On page details click on Button "Press me"
4. The app crash

If you comment the `register` in index.ts of `MyComponents` component and uncomment the `export` everything works fine.

A

[2021-04-20 16:17] kirillzyusko commented on #26
@alessioemireni Yes. I was thinking about this usage. But just wanted to check it (that's why I asked you to give an example).

Thank you for your PR! I will publish new version soon.

[2021-04-20 16:28] #26 closed

[2021-04-23 00:06] JulianKingman opened #28 "Add to docs: how is this different from RN built in RAM bundles?"
**Is your feature request related to a problem? Please describe.**
React Native lays out how to implement RAM bundles: https://reactnative.dev/docs/ram-bundles-inline-requires

**Describe the solution you'd like**
What does this package do differently? What's the same? Why use or not use this project?

[2021-04-26 15:38] kirillzyusko commented on #28
Hi @JulianKingman

The explanation is below:

[code]

Where you would like to see it on a website? On which page?

[2021-04-27 23:25] JulianKingman commented on #28
I would put it in the getting started section of the documentation:
https://kirillzyusko.github.io/react-native-bundle-splitter/docs/getting-started

I would also love to know how this package relates to Hermes (if you know), since this package conflicts with it (RAM bundles conflicts with it), and solves related problems (Hermes chunks byte code into separate bundles).

[2021-04-28 17:38] kirillzyusko commented on #28
@JulianKingman yes, hermes is using similar mechanism. If you are using Hermes, you don't need to enable RAM bundles :)

[2021-05-27 16:20] #28 closed

[2021-05-31 08:52] ku8ar opened #29 "Hot reload and "You try to add new component with already existing name" error"
**Describe the bug**
In dev mode, during application reload, `require` with `name` reports the above error.

**To Reproduce**
Steps to reproduce the behavior:
1. add `require` with `name`
2. in developer mode, call hot reload of the app

This error cause that we are unable to work in dev mode. Will deleting line of code with this `throw` have any negative consequences (e.g. memleak in developer mo

[2021-05-31 09:04] kirillzyusko commented on #29
Hi @ku8ar
Could you add small reproducible demo?
In fact I worked with this library in hot reload mode and didn't encounter any problems.
`register` function should be called only once. If it's called multiple times, then it may lead to some unexpected problems (such as performance bottlenecks or cache issues). So I would be highly appreciated you if you could create small reproducible demo.

[2021-05-31 09:48] ku8ar commented on #29
We have react-navigation v5 in the application and many connections between components. So sometimes it happens that dev mode reloads the entire application (and thus the components with navigation).

Typical code of nav component:
[code]

The problem only occurs in developer RN mode (because only then we do reload of files).

So you're saying I can patch this lib so that in dev mode there won't b

[2021-05-31 13:19] kirillzyusko commented on #29
Nice @ku8ar! Thank you for the explanation and the detailed described issue.
I saw, that some people are forking the repo and commenting this line out, but I didn't understand why... Now it's clear.

I will keep this issue opened. I think I will change the approach, and instead of throwing the error I will call `console.warn`. For developers it will give more flexibility. They will not need to pat

[2021-05-31 20:18] tarun-khanna opened #30 "Is it an add-on over inline requires + ram bundles ?"
Hi @kirillzyusko,
Thank you for the library.

My project has RN 0.63.4
I have already added inline requires everywhere in my project for the heavy component screens as per RN docs (https://reactnative.dev/docs/ram-bundles-inline-requires).
I have also enabled RAM bundling for android.

Upon investigating the loaded modules, I observed the total number of loaded modules fell from around 3.3k to 350

[2021-05-31 20:33] kirillzyusko commented on #30
Hi @tarun-khanna
This library is a simple wrapper around RAM bundles functionality with unified API and some useful functions (such as preloading, caching etc.)

That's strange, that startup time wasn't decreased. Because 350 modules ~ hello world RN app. So startup time should be really fast!

From my experience, I can say, that decreasing ~1000 modules led to 1s improvement. These values are rou

[2021-06-01 06:15] tarun-khanna commented on #30
Hey @kirillzyusko
Thank you for your quick response :)

Can you tell me if replacing inline requires with your library's register api will help in any case or it won't bring much difference ?

[2021-06-01 09:59] kirillzyusko commented on #30
@tarun-khanna I don't think you will get any benefits. You can try, but if you are sure, that you properly implemented `inline requires` in your app, then it doesn't make sense.

The main purpose of this library was to provide `preloading` API to deliver best UX to end user. Because if you will load additional 0.5Mb of bundle during the app runtime, it may slightly freeze the app. With preloading

[2021-06-01 10:02] tarun-khanna commented on #30
Alright, thanks a lot @kirillzyusko for your inputs! 😄

[2021-06-01 10:02] #30 closed

[2021-06-01 10:29] ku8ar commented on #29
Thanks for the clarification :) Your coding-style is better. But in the app we're working in, it would require a large code refactor.
Therefore, console.warn will actually be a better idea.

[2021-07-22 19:34] Victorcassiano commented on #23
I agree, I found the lib great, but I tried to use it in the RN with typescript I don't know if it worked or not

[2021-07-22 19:59] kirillzyusko commented on #23
@Victorcassiano it also works in TS. Why do you have doubts that it doesn't work?

[2021-07-22 20:06] Victorcassiano commented on #23
That's where it is, I did the correct steps that the doc indicates, but it doesn't have a counter to know if it really worked or not.

to check I used this.

import { investigate } from 'react-native-bundle-splitter/dist/utils';
console.log('Bundle Info: ', investigate().loaded);

1992 appeared loaded, does that mean it worked?

[2021-07-22 20:21] kirillzyusko commented on #23
@Victorcassiano try to wrap some of your screens in `register` HOC. After that check the output from the `investigate` function. If you did everything correctly, then you will not see your screens in `loaded`. If so, then everything works correctly :)

[2021-10-01 07:26] sammiepls commented on #12
Hi, can you please share how to use it with the new loader syntax? I am also using export function, not `default exports`.

[2021-10-01 09:13] kirillzyusko commented on #12
Hi @sammiepls

Are you using `extract` property?

The syntax should be the same:

[code]

[2021-10-11 07:44] saloni-v opened #31 "Where can I find splitted apks physically present"
Where can I find splitted apks physically present in the demo project app that you ve shared?

[2021-10-20 10:26] hypnocill opened #32 "React Navigation - missing header and error"
I implemented the react-native-bundle-splitter using the guide in https://kirillzyusko.github.io/react-native-bundle-splitter/docs/navigation

It seems to improve the startup time indeed but the header of the navigation is not visible and when I try to navigate to another screen from this navigator, I get "No 'routes' found in navigation state" error:

I'm using react-navigation 4.0.10

Here's an

[2021-10-20 12:52] hypnocill commented on #32
Thank you for your response!

From my example code above - I moved the static 'navigationOptions' from inside  ../components/Screen to the MyNavigator (as per the documentation you just linked) but I still don't get the header rendered.
A console.log inside the register's static returned 'navigationOptions' is never executed.

And I keep getting the "No 'routes' found in navigation state" error" w

[2021-10-20 18:42] kirillzyusko commented on #32
@hypnocill I don't see any drawbacks🙂

But what is the difference between this code and the code that you've attached in the first message? For me both of them look identical to each other... And I'm curious what has changed and why it's working now🤔

I'm pretty sure I'm missing something important 😅

[2021-10-20 20:14] #32 closed

[2021-10-21 06:58] hypnocill commented on #32
Yeah, this issue seems like exactly what I encountered with "no routes in navigation state" error.

Thanks for the detailed explanation

[2021-11-25 14:53] #2 closed

[2022-01-25 10:42] demedos opened #33 "Register returns any, breaking typescript's type check"
**Describe the bug**
The `register` function returns `any`, breaking typescript's type check.

**Code snippet**
[code]

[code]

[code]

**Repo for reproducing**
[https://github.com/demedos/bundle-split-repro](https://github.com/demedos/bundle-split-repro)

**To Reproduce**
Steps to reproduce the behavior:
1. Add the bundle split to a component
2. Import the component into another one
3. Pass the w

[2022-01-25 11:09] kirillzyusko commented on #33
Hi @demedos

Thank you for raising the issue. I think I've been trying to specify correct types, though it wasn't easy 😅

As far as I remember we can not inherit type from `import` function (correct me if I'm wrong). The other possible way would be making `register` function to accept generic `T`. But I suppose it could bring more issues because you would need to define `type Props` at the same le

[2022-01-25 14:24] demedos commented on #33
As far as I know there's not way to infer the type from the import function.

Something like [this](
https://github.com/demedos/react-native-bundle-splitter/commit/2201e3871b414b9d4c8c1765c5907ef6641c3c5d) would solve the problem, but I suspect that this would also load the file immediately, making the bundle split useless.
Also, it's just a type cast, which is not ideal as we are forcing the retu

[2022-01-25 14:53] kirillzyusko commented on #33
@demedos don't you think, that the line

[code]

will break a concept of lazy loading? You will have a direct reference to the file and it will be bundled with main part of the application.

The idea, that you suggest I described here:

I can add generic with default value to the code, but you as a developer will need to keep in mind, that you can not have direct references to file, otherwise it w

[2022-01-25 15:38] demedos commented on #33
Yes, it would break the lazy loading, that's what I was saying

I see no other solution than to use a generic and manually move all the props in their own files.
The developer should then check if it is necessary to use the FC interface over ReactComponent

[2022-01-25 16:07] kirillzyusko commented on #33
@demedos I don't know how I missed it 🤦‍♂️

Yes, it sounds like a potential option to add it. I think I will investigate it a little bit more, and if I don't find any better solutions, then I will implement these changes and will publish a new release!

I hope within several days it should be done 😊

[2022-01-25 16:40] demedos commented on #33
Sounds good, thank you :)
The only downside of this is that passing `FC<Props>` may be actually wrong, because even if the source component is an FC, `optimized` always returns a new pure component. Nonetheless, it should work without any problem

[2022-01-26 07:28] kirillzyusko commented on #29
Closed in https://github.com/kirillzyusko/react-native-bundle-splitter/commit/b0e3ee6a1396e18f84e64e4597459132fb0c8968

[2022-01-26 07:28] #29 closed

[2022-01-26 07:29] #31 closed

[2022-01-26 07:30] kirillzyusko commented on #10
Closed in https://github.com/kirillzyusko/react-native-bundle-splitter/pull/22

[2022-01-26 07:30] #10 closed

[2022-01-30 12:41] kirillzyusko commented on #33
@demedos I've created a MR with fix: https://github.com/kirillzyusko/react-native-bundle-splitter/pull/34

Could you have a look and say whether it fixes your problem or not?

[2022-01-31 11:18] demedos commented on #33
Yes, it is indeed a great improvement.
I use react-redux's `ConnectedProps` type to infer the action and properties injected in the component through the `connect` function; this means that when moving the `Props` type to its own file, the connector must imported from the component file itself. Do you think that this can affect the bundle split?
See an example below:

[code]

[code]

[2022-01-31 15:48] kirillzyusko commented on #33
@demedos I bet on "yes", it will affect and the file will not be lazily loaded. Though, you can try to verify it by calling `investigate` method. It returns all files, which you will have in your main bundle (these files will be loaded at the start of the application).

We also are using redux in combination with this library. But almost all the time all injected `Props` by `redux` we describe man

[2022-02-07 12:09] kirillzyusko commented on #33
Closed, because https://github.com/kirillzyusko/react-native-bundle-splitter/pull/34 has been merged.

[2022-02-07 12:09] #33 closed

[2022-03-25 07:55] swizes opened #35 "Typo in documentation"
**Describe the bug**
In section "Metro configuration updating" in the code block for the metro.config.js file the **blackList** is typed as **blockList** but in the example project it is named as **blackList**
https://kirillzyusko.github.io/react-native-bundle-splitter/docs/metro

**Code snippet**
[code]

[2022-03-25 08:07] #35 closed

[2022-03-25 08:33] swizes opened #36 "Bundle vizualizer still shows files which are excluded from packager/modules.ios"
**Describe the bug**
My modules.ios.js file does not have src/screens/Test/index.js in it but the bundle visualizer still shows it

**Code snippet**

src/screens/Test/index.js

[code]
I don't preload anything yet, those stuffs are still visible in bundle visualizer.

**Expected behavior**
The src/screens/Test and src/screens/Empty should not be in initial bundle, they should have been loaded after

[2022-03-25 13:13] kirillzyusko commented on #36
Hi @swizes

Even if you use `bundle-vizualizer` - "lazy" files will be shown there. That's how RAM bundles works - these files are not excluded from main bundle. The structure of RAM bundles will allow to load them lazily, but they are not moving to a new JS bundle 🤷‍♂️

If you want to check, that lazy mode really works, then I would recommend you to check the output of `investigate` function. Jus

[2022-03-25 13:26] swizes commented on #36
I realized that the second call show final state. Now I have understood the logic behind it. Thanks

I do have another question

I am not sure if it is possible to make the scenario but

In which cases the application won't open the screen, when it is not added into modules.android.js or not lazy loaded.

I have tried to break the aplication by not loading the screen file but it was always possibl

[2022-03-25 15:09] kirillzyusko commented on #36
@swizes I'm not sure I get the question...

If your `packager` folder content will be desynchronized (i. e. not include some files, which are needed), then it will have a reverse effect - the startup time will be increased, because it will evaluate initial bundle and load other files, which are not listed in the packager. And it will be always slower (at least we have verified it using a slow emul

[2022-03-25 15:12] kirillzyusko commented on #35
@swizes I think it's because I haven't updated example application for a long time 😅

This property should be named as `blacklist` if you are running RN < 0.64, and `blockList` for RN >= 0.65

[2022-03-30 10:59] swizes commented on #36
Thanks for the answers.

If I am using hermes on iOS too, do i need to enable ram bundle in the iOS project or the same argument about hermes on android is also valid for iOS (I guess so)

[2022-03-30 11:00] swizes commented on #36
@kirillzyusko

Thanks for the answers.

If I am using hermes on iOS too, do i need to enable ram bundle in the iOS project or the same argument about hermes on android is also valid for iOS (I guess so)

[2022-03-30 12:01] kirillzyusko commented on #36
@swizes I think you don't need to enable RAM format on iOS, since Hermes by default will load only necessary parts of JS bundle. And as far as I know RAM format has conflicts with Hermes and JS engine can not execute the script in this format correctly.

Though you can try to check it and see whether it crashes app or not 🙂 I haven't used Hermes on iOS so can not be 100% sure, ha-ha 😅

[2022-04-07 16:14] #36 closed

[2022-05-20 09:11] RZulfikri opened #37 "static not working"
**Describe the bug**
Hi, first of all, I wanna says thanks for this awesome component. I found an issue with "static" props, it never applied to the component, check my code below.

**Code snippet**
static not working
[code]

If I add static like this, it working
[code]

based on that code,  I assume that the optimized component from the register function does not apply the static props.

the othe

[2022-05-20 13:43] RZulfikri commented on #37
@kirillzyusko thanks for your fast response, this code is working.

[code]

thanks

[2022-05-20 15:04] kirillzyusko commented on #37
@RZulfikri thank you for the input 😊

I will fix it today and will publish a new version! Thank you again!

[2022-05-20 15:11] kirillzyusko commented on #37
Fixed in https://github.com/kirillzyusko/react-native-bundle-splitter/commit/666f04b06076c8c65e13b7b0abd8bfc312e34b35

[2022-05-20 15:11] #37 closed

[2022-06-13 05:52] chj-damon opened #38 "Does this library support code-push?"
I would love to try to integrate this wonderful library in my application, but I also use code-push in my app. So my question is: is it ok to use them both?

[2022-06-13 06:50] kirillzyusko commented on #38
Hi @chj-damon

It's a good question. This library simply uses ram-bundles, so you should search for ram-bundles and code-push compatibility. Some time ago I've seen they added support for it, though I haven't tested it myself.

So, my answer is yes, it supports, but I haven't used them both.

May I kindly ask you to get back with the answer in this topic once you get the answer? (i.e. try to integ

[2022-06-21 05:07] CptMaumau commented on #38
Hi, I have tried to use both libraries, it seems to work well on Android but on iOS I get an error `ExceptionsManager.js:180 TypeError: (0 , _reactNativeCodePush.default) is not a function`.
I'm trying to find if there's an issue with my installation no iOS but so far it seems that CodePush is undefined on iOS when used with ram-bundles.

[2022-06-21 10:07] kirillzyusko commented on #38
@CptMaumau do you use Hermes on iOS/Android?

[2022-06-22 05:08] CptMaumau commented on #38
@kirillzyusko I do not use Hermes on either.

[2022-07-21 08:02] SamuelGuNUAA opened #39 "How to do multiple imports of a third party component"
Hi @kirillzyusko , thank for the helpful library. But got a question as a first time user.
I need to import a third party component in different files by different components, but not sure which is best way to do so.

For example:
option 1)
File A:
[code]

File B:
[code]

option 2)
index.ts:
`export const ThirdPartyComponent = register({ require: () => require('rn-third-party-library') });`
File A

[2022-07-21 09:09] kirillzyusko commented on #39
Hi @SamuelGuNUAA

For me second option looks more preferable, since you will have less code duplication :) I would recommend you to go with this option.

Though it's important to remember, that if you are trying to make some libraries lazy-loadable (such as `react-native-reanimated`, `react-native-gesture-handler`) - it may break your app (especially in release mode) 🙂

[2022-07-25 08:00] kirillzyusko commented on #7
Closed due to the inactivity.

[2022-07-25 08:00] #7 closed

[2022-07-25 08:01] kirillzyusko commented on #18
Closed due to the inactivity.

[2022-07-25 08:01] #18 closed

[2022-07-28 09:49] #39 closed

[2022-10-27 14:11] matt-dalton opened #40 "Seems to be returning Typescript type for generic component, not imported component"
**Describe the bug**
I just upgraded from v1 to v2.2.1, and I'm now getting Typescript errors. I guess the types might have broken, or this bug was concealed before (with `any` perhaps).

when I use `register` to load a component, it seems to just set the component type to `React.ComponentClass<{}, any>`, rather than the type of the component:
![Screenshot 2022-10-27 at 15 10 36](https://user-imag

[2022-10-27 14:29] matt-dalton commented on #40
Ahh I've seen we can import the types (from a separate file) and pass into a generic: `const NavigationHeader = register<NavigationHeaderProps>(`

Perhaps worth making more obvious in the docs? Unless I missed it somewhere

[2022-10-27 14:29] #40 closed

[2022-10-27 14:30] kirillzyusko commented on #40
Hi @matt-dalton

Yes, you are right, it was changed in v2.

The motivation why I decided to make it in this way you can find [here](https://github.com/kirillzyusko/react-native-bundle-splitter/issues/33)

If you want to have a backward compatibility with v1, then I think you can simply use it like:
[code]

In v2 `register` function receives generic type T which has `{}` value by default. So you ca

[2022-10-27 14:32] kirillzyusko commented on #40
@matt-dalton Yes, good idea 👍
Do you know a good place (in already existing pages) for that to make it more obvious?

And what info in this doc should be?

[2022-10-27 15:37] matt-dalton commented on #40
I went to check if I'd done something wrong [here](https://kirillzyusko.github.io/react-native-bundle-splitter/docs/basic-usage), so could maybe just add a Typescript section at the bottom?

But yeah...all makes sense! Thanks.

[2022-10-27 20:45] kirillzyusko commented on #40
@matt-dalton I will try to add it. I want to migrate documentation to `Docusaurus v2` and use github workflow for docs publishing, because right now I do everything manually.
So yeah, good point! I will try to add it and re-work documentation in the future! :)